{% load static %}


<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

  <title>Simple Arithmetic Operation Calculator</title>
</head>

<body>
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand">
      Agas Yanprama - Calc
    </a>
  </nav>
  <div class="row" style="margin-top:1%; margin-right: 5%; margin-left: 5%;">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 float-md-center jumbotron">
      ​<div class="text-center">
        <form id="myForm">
          <div class="form-group">
            <input class="form-control" type="number" step="1" name="num_a" id="id_num_a"
              placeholder="Enter a first number" required />
          </div>
          <div class="form-group">
            <input class="form-control" type="number" step="1" name="num_b" id="id_num_b"
              placeholder="Enter a second number" required />
          </div>
          <div class="form-group">
            <label for="opsSelectLabel">Select Operations</label>
            <select class="form-control" id="opsSelect">
              <option>Add</option>
              <option>Minus</option>
              <option>Multiply</option>
              <option>Division</option>
            </select>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>

  <div class="row" style="margin-top:1%; margin-right: 5%; margin-left: 5%;">
    <div class="text-center">
      ​<h3>Results:</h3>
      <h2 id="result"></h2>
    </div>
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script>
    $('#myForm').submit(function (e) {
      var num_a = $("#id_num_a").val();
      var num_b = $("#id_num_b").val();
      var mode = $("#opsSelect").val();
      e.preventDefault();
      $.ajax({
        url: 'http://infralabs.cs.ui.ac.id:20301/calculator/api/calculate/?a=' + num_a + '&b=' + num_b + '&operation=' + mode,
        type: 'get',
        success: function (data) {
          //whatever you wanna do after the form is successfully submitted
          $("#result").html(data.result);
        }
      });
    });
  </script>
</body>

</html>